[submodule "themes/m10c"]
	path = themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "themes/dimension"]
	path = themes/dimension
	url = https://github.com/your-identity/hugo-theme-dimension.git
